@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: "Roboto", sans-serif; */
  font-family: "Lato", sans-serif;
}
body {
  background-color: rgb(245, 247, 248);
}
.access-bank-icon-container {
  padding: 10px;
  height: 90px;
}
.access-bank-icon {
  height: 30px;
  margin-top: 20px;
}
.text-container {
  width: 700px;
  line-height: 50px;
}
.step {
  font-size: 15px;
  color: rgb(107, 123, 138);
}
.header-text {
  font-size: 30px;
}
.text {
  font-weight: light;
  font-size: 16px;
}
.account-number-container {
  background-color: white;
  border-radius: 10px;
  width: 390px;
  height: 60px;
  padding: 5px;
  margin-top: 30px;
}
#account-number {
  display: flex;
  flex-direction: column;
}
#account-title {
  font-size: 12px;
  margin-left: 10px;
  color: rgb(161, 174, 192);
}
.input-account-number {
  font-size: small;
  border: none;
  outline: none;
  height: 30px;
  margin-left: 10px;
  width: 355px;

  color: black;
}
.phone-number-container {
  background-color: white;
  border-radius: 10px;
  width: 390px;
  padding: 5px;
  height: 60px;
  margin-top: 30px;
}
#phone-number {
  display: flex;
  flex-direction: column;
}
#phone-number-title {
  font-size: 12px;
  margin-left: 10px;
  color: rgb(161, 174, 192);
}
.input-phone-number {
  outline: none;
  border: none;
  height: 30px;
  margin-left: 10px;

  width: 355px;
  color: black;
}
.username-container {
  background-color: white;
  border-radius: 10px;
  width: 390px;
  padding: 5px;
  height: 60px;
  margin-top: 30px;
}
#userName {
  display: flex;
  flex-direction: column;
}
#username-title {
  font-size: 12px;
  margin-left: 10px;
  color: rgb(161, 174, 192);
}
.input-userName {
  outline: none;
  border: none;
  height: 30px;
  margin-left: 10px;

  color: black;
  width: 355px;
}
.password-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  width: 390px;
  height: 60px;
  padding: 5px;
  margin-top: 30px;
}
#password {
  display: flex;
  align-items: center;
}
#password-title {
  font-size: 12px;
  margin-left: 30px;
  color: rgb(161, 174, 192);
}
.input-password {
  outline: none;
  border: none;
  height: 25px;
  margin-left: 10px;
  height: 30px;

  width: 355px;
  color: black;
}
#button-container {
  width: 400px;
  line-height: 30px;

  margin-top: 20px;
}
#must-have {
  font-size: 13px;
}
#list-item {
  list-style: none;
}
#b {
  display: inline;
  padding: 5px;
  border-radius: 10px;
  color: black;
  padding: 5px;
  box-shadow: rgb(228, 230, 231) 2px 4px 0px;
  background-color: rgb(238, 238, 238);
  margin: 4px;
  font-size: 10px;
}

.confirm-password-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 390px;
  height: 60px;
  border-radius: 10px;
  padding: 5px;
  margin-top: 20px;
}
#cPassword {
  display: flex;
  align-items: center;
}
#confirm-password-title {
  font-size: 12px;
  margin-left: 30px;
  color: rgb(161, 174, 192);
}
.input-confirm-password {
  outline: none;
  border: none;
  margin-left: 10px;
  height: 30px;
  width: 355px;

  color: black;
}
.continue-button {
  outline: none;
  border: none;
  color: white;
  background-color: rgb(255, 130, 0);
  border-radius: 10px;
  width: 390px;
  margin-top: 30px;
  height: 60px;
}
#lock-icon {
  color: rgb(107, 123, 138);
  font-size: 18px;
}
#visibility-icon {
  font-size: 24px;
}
@media screen and (max-width: 400px), (max-width: 800px), (max-width: 1090px) {
  body {
    /* background-color: red; */
  }
  .access-bank-icon-container {
    width: 790px;
    height: 190px;
  }
  .access-bank-icon {
    width: 230px;
    height: 60px;
    margin-left: 50px;
    margin-top: 50px;
  }
  .text-container {
    width: 700px;
    line-height: 60px;

    margin: auto;
  }
  .step {
    font-size: 40px;
    color: rgb(107, 123, 138);

    margin-top: 10px;
  }
  .header-text {
    margin-top: 10px;
    font-size: 45px;
  }
  .text {
    font-weight: light;
    font-size: 40px;
    margin-top: 10px;
  }
  /* #contain-container {
 
  } */
  #form-container {
    margin: auto;
    width: 700px;
  }
  .account-number-container {
    background-color: white;
    border-radius: 10px;
    width: 700px;
    height: 160px;
    padding: 10px;
    margin-top: 60px;
  }
  #account-number {
    display: flex;
    flex-direction: column;
  }
  #account-title {
    font-size: 30px;
    margin-left: 10px;
    color: rgb(161, 174, 192);
  }
  .input-account-number {
    font-size: small;
    border: none;

    outline: none;
    height: 100px;
    margin-left: 10px;
    width: 670px;
    font-size: 30px;
    color: black;
  }
  .phone-number-container {
    background-color: white;
    border-radius: 10px;
    width: 700px;
    padding: 10px;
    height: 160px;
    margin-top: 60px;
  }
  #phone-number {
    display: flex;
    flex-direction: column;
  }
  #phone-number-title {
    font-size: 30px;
    margin-left: 10px;
    color: rgb(161, 174, 192);
  }
  .input-phone-number {
    outline: none;
    border: none;
    height: 100px;
    margin-left: 10px;
    font-size: 30px;

    width: 670px;
    color: black;
  }
  .username-container {
    background-color: white;
    border-radius: 10px;
    width: 700px;
    padding: 10px;
    height: 160px;
    margin-top: 60px;
  }
  #userName {
    display: flex;
    flex-direction: column;
  }
  #username-title {
    font-size: 30px;
    margin-left: 10px;
    color: rgb(161, 174, 192);
  }
  .input-userName {
    outline: none;
    border: none;
    height: 100px;
    margin-left: 10px;
    font-size: 30px;
    color: black;
    width: 670px;
  }
  .password-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    width: 700px;
    height: 160px;
    padding: 10px;
    margin-top: 60px;
  }
  #password {
    display: flex;
    align-items: center;
  }
  #password-title {
    font-size: 30px;
    margin-left: 50px;
    color: rgb(161, 174, 192);
  }
  .input-password {
    outline: none;
    border: none;
    height: 100px;
    margin-left: 10px;
    font-size: 25px;

    width: 600px;
    color: black;
  }
  #button-container {
    width: 600px;
    line-height: 60px;
    margin-top: 20px;
  }
  #must-have {
    font-size: 30px;
    padding: 5px;
    color: rgb(156, 156, 156);
  }
  #list-item {
    list-style: none;
  }
  #b {
    display: inline;
    padding: 5px;
    border-radius: 10px;
    color: black;
    padding: 6px;
    box-shadow: rgb(228, 230, 231) 4px 6px 0px;
    background-color: rgb(238, 238, 238);
    margin: 10px;
    font-size: 25px;
    word-spacing: 5px;
  }

  .confirm-password-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 700px;
    height: 160px;
    border-radius: 10px;
    padding: 10px;
    margin-top: 50px;
  }
  #cPassword {
    display: flex;
    align-items: center;
  }
  #confirm-password-title {
    font-size: 30px;
    margin-left: 50px;
    color: rgb(161, 174, 192);
  }
  .input-confirm-password {
    outline: none;
    border: none;
    margin-left: 10px;
    height: 100px;
    width: 600px;
    font-size: 30px;
    color: black;
  }
  .continue-button {
    outline: none;
    border: none;
    color: white;
    background-color: rgb(255, 130, 0);
    border-radius: 10px;
    width: 300px;
    margin-top: 60px;
    height: 100px;
    font-size: 30px;
    padding: 20px;
  }
  #lock-icon {
    color: rgb(107, 123, 138);
    font-size: 35px;
  }
  #visibility-icon {
    font-size: 55px;
  }
}
